@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

@font-face {
    font-family: 'arkhip';
    src: url('../fonts/arkhip.woff2') format('woff2'),
         url('../fonts/arkhip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    min-height: 100%;
    color: #fff;
}

.bg {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    margin-top: 8%;
    text-align: center;
}

.logo {
    margin-bottom: 1rem;

    > img {
        width: 80px;
    }
}

.title {
    font-size: 80px;
    display: inline-block;
    position: relative;
    margin-bottom: 3rem;

    > small {
        font-size: 50%;
        position: absolute;
        bottom: -30px;
        right: 0;
    }
}

.description {
    font-family: 'arkhip';
}

.copyright {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    opacity: .6;
}

.style-guides {
    > .btn {
        width: 100%;
        margin: 1rem 2rem;

        &:hover, &:focus, &:active {
            background-color: transparent;
            color: #fff;
            border-color: #fff;
        }
    }
}


@media (min-width: map-get($grid-breakpoints, lg)) {
    .style-guides {
        position: absolute;
        bottom: 2rem;
        right: 2rem;

        > .btn {
            width: 120px;
            margin: 0 1rem;
        }
    }
}